body{
    width: 960px;
    height: 540px;
    
}
.mainSceneCont{
    width: 960px;
    height: 540px;
    
}

.selectedBackground{
    background-size: cover!important;
    background-position: 50%;
    z-index: -50;
}

.videoContentCont{
    width: 100%;
    height: 80%;
    background-color: none;
    position: relative;
    top: 20%;
    /*left: 5%;*/
    overflow: hidden;
    
}
#rowCont{
    overflow: hidden;
    width: 100%;
    height: 864px;
    position: relative;
}


.row{
    width: 100%;
    height: 275px;
    background-color: none;
    overflow: hidden;
}

.rowHeader{
    width: 100%;
    height: 25%;
    background-color: none;
    display: table;

}
.rowScrollCont{
    width: 250%;
    height: 75%;
    position: relative;
    background-color: none;
}
.rowContentCont{
    width: 270px;
    height: 100%;
    background-color:none;
    float: left;
    position: relative;
    margin-top: 2px;
}

#rowCont{
    position: relative;
}

.vidBox{
    width: 200px;
    height: 95%;
    background-color: #9E9E9E;
    margin-left: auto;
    margin-right: auto;
    /* margin-top: 3px; */
    border: solid 4px #9E9E9E;
    overflow:hidden;
}

.vidImage{
   
    /*height: 120px;*/
    width: 200px;
    background-color:none;
    vertical-align: middle;
}

.vidInfoCont{
    width: 100%;
    height: 50%;
}

.vidName{
    font-size: 1em;
    padding: 5px;
    font-family: "Verdana", Times, serif;
/*     overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
font-size: 1em; */
}


.selectedVid > div{
    border: solid 4px #00838F;
    margin-top: 2px;
}

.selectedVid > div > .vidInfoCont {
    background-color: #00838F!important;
}

.spanRowHead{
    display: table-cell;
    vertical-align: middle;
    padding-left: 35px;
    font-size: 1.4em;
    color: white;
}


.selectedVid  > div > .iconHolder{
    width: 100px;
    height: 100px;
    background: none;
    position: absolute;
    top: 15%;
    left: 32%;
    background-image: url("appimgs/play2.png");
    background-size: 100px 100px;
}